<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{subtitle:'home'}) %>

<body>
    <%- include('../partials/header')%>

    <main>
            <div class="home-carrousel">
                <img src="img/index/brindis-vino-tinto.png" alt="">
            </div>
            <section class="about-us">
                <h2 class="about-us-title">NOSOTROS</h2>
                <p class="about-us-subtitle">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="about-us-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem et dolores nemo, eum fuga eligendi voluptatum temporibus odio, pariatur amet praesentium eos asperiores hic voluptatem facilis, nihil earum atque soluta delectus ex tempora tempore consequuntur assumenda. Possimus modi, et earum eligendi, provident officiis animi voluptatibus nemo dicta placeat, aspernatur voluptatum eum ea perspiciatis libero. </p>
                <p class="about-us-quote-text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi mollitia iste voluptatem!"</p>
                <p class="about-us-quote">- Juanito Perez</p>
            </section>

            <section class="carrousel-recomendation">
                <h2 class="carrousel-title">LOS MAS VENDIDOS...</h2>
                <div class="carrousel">
                    <% productsMasVendidos.forEach((prod) => { %> 
                        <article class="carrousel-product">
                            <a href="/products/<%= prod.id %>"><img class="product-image" src="/img/product-img/<%= prod.image %>" alt="<%= prod.name %>"></a>
                            <h3 class="product-title"><%= prod.shortname + ' ' + prod.year %></h2>
                            <p class="price">$ <%= prod.price %></p>
                            <button class="add-to-cart">AGREGAR</button>
                        </article>
                    <% }) %>
                </div>
            </section>
    
            <section class="carrousel-recomendation">
                <h2 class="carrousel-title">LOS MAS VALORADOS...</h2>
                <div class="carrousel">
                    <% productsMasPremiados.forEach((prod) => { %> 
                        <article class="carrousel-product">
                            <a href="/products/<%= prod.id %>"><img class="product-image" src="/img/product-img/<%= prod.image %>" alt="<%= prod.name %>"></a>
                            <h3 class="product-title"><%= prod.shortname + ' ' + prod.year %></h2>
                            <p class="price">$ <%= prod.price %></p>
                            <button class="add-to-cart">AGREGAR</button>
                        </article>
                    <% }) %>
                </div>
            </section>
    
            <section class="carrousel-recomendation">
                <h2 class="carrousel-title">RECOMENDADOS PARA VOS...</h2>
                <div class="carrousel">
                    <% productsRecomend.forEach((prod) => { %> 
                        <article class="carrousel-product">
                            <a href="/products/<%= prod.id %>"><img class="product-image" src="/img/product-img/<%= prod.image %>" alt="<%= prod.name %>"></a>
                            <h3 class="product-title"><%= prod.shortname + ' ' + prod.year %></h2>
                            <p class="price">$ <%= prod.price %></p>
                            <button class="add-to-cart">AGREGAR</button>
                        </article>
                    <% }) %>
                </div>
            </section>

        <section class="payment-and-deliver">
            <article class="payment">
                <h2 class="payment-title">MEDIOS DE PAGO</h2>
                <p>Podés abonar todos tus pedidos a través de MercadoPago, con todas las tarjetas de crédito y débito.</p> 
            </article>
            <section class="deliver">
                <h2 class="deliver-title">FORMAS DE ENVÍO</h2>           
                <p>
                    Realizamos envíos a todo el país.
                    Podes comprar con envío a domicilio ó seleccionar un punto de retiro.
                    Los pedidos tardan 24hs en procesarse!
                </p>
            </section>
        </section>

        <section class="newsletter">
            <h2 class="newsletter-title">NOVEDADES</h2>
            <p class="newsletter-text">Suscribite para recibir las novedades de VIINO</p>
            <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form">
                <div class="newsletter-dialogue">
                    <input class="newsletter-input" type="email" name="email" id="email" placeholder="Ingresá tu email..."><input class="newsletter-submit" name="subscribe" type="submit" value="&#8594">
                </div>
            </form>
        </section>

    </main>

    <%- include('../partials/footer')%>

</body>
</html>