<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{subtitle:'cart'}) %>

<body>
    <%- include('../partials/header')%>

    <main>
        <div class="main-title-container">
            <a value="Go back!" onclick="history.back()" class="back-arrow"><img src="/img/icon/arrow.svg" alt=""></a>
            <h1 class="main-title">TU CUENTA</h1>
        </div>

        <div class="login-signup-buttons">
            <p class="login button-black">INICIA SESIÓN</p>
            <a class="signup button-white" href="/user/register">REGISTRATE</a>
        </div>   
        <section class="form-container">
            <p class="form-text">Iniciá sesión en VIINO con tu correo electrónico y contraseña</p>
            <form action="/user/login" method="POST">
                <input class="input" type="text" name="email" id="email" placeholder="Correo electrónico..." value="<%= locals.oldData ? oldData.email : null %>">
                <% if (locals.errors && errors.email) { %>
                    <div class="form-text danger">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
                <input class="input" type="password" name="password" id="password" placeholder="Contraseña...">
                <% if (locals.errors && errors.password) { %>
                    <div class="form-text danger">
                        <%= errors.password.msg %>
                    </div>
                <% } %>
                <a class="form-text forgot-password">¿Olvidaste tu contraseña?</a>
                <button class= "black-button"type="submit" value="enviar">INGRESAR</button>
            </form>
        </section>
    </main>

    <%- include('../partials/footer')%>

    
</body>
</html>