<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{subtitle:'cart'}) %>

<body>
    <%- include('../partials/header')%>

    <main>
        <div class="main-title-container">
            <a value="Go back!" onclick="history.back()" class="back-arrow"><img src="/img/icon/arrow.svg" alt=""></a>
            <h1 class="main-title">TU CUENTA</h1>
        </div>
        <div class="login-signup-buttons">
            <a class="login button-white" href="/user/login">INICIA SESIÓN</a>
            <p class="signup button-black">REGISTRATE</p>
        </div>
        <div class="form-container">
            <p class="form-text">Creá una cuenta en VIINO y obtené el beneficio de una experiencia de compra más personal y de un pago on-line más veloz.</p>
            <p class="form-subtext">Completar todos los campos es obligatorio</p>
            <form method="POST" action="/user/register" enctype="multipart/form-data">
                <input class="input" type="text" name="first_name" id="nombre" placeholder="Nombre..." value="<%= locals.oldData ? oldData.first_name : null %>">
                <% if (locals.errors && errors.first_name) { %>
                    <div class="form-text danger">
                        <%= errors.first_name.msg %> 
                    </div>
                <% } %>

                <input class="input" type="text" name="last_name" id="apellido" placeholder="Apellido..." value="<%= locals.oldData ? oldData.last_name : null %>" >
                <% if (locals.errors && errors.last_name) { %>
                    <div class="form-text danger">
                        <%= errors.last_name.msg %> 
                    </div>
                <% } %>

                <input class="input" type="text" name="email" id="email" placeholder="Correo electrónico..." value="<%= locals.oldData ? oldData.email : null %>">
                <% if (locals.errors && errors.email) { %>
                    <div class="form-text danger">
                        <%= errors.email.msg %> 
                    </div>
                <% } %>

                <input class="input" type="password" name="password" id="password" placeholder="Contraseña...">
                <% if (locals.errors && errors.password) { %>
                    <div class="form-text danger">
                        <%= errors.password.msg %> 
                    </div>
                <% } %>

                <label for="image" class="label">
                    <h3 class="label">Subí una imagen de perfil:</h3>
                    <input class="image-input" type="file" name="image" id="image" >
                </label>
                <% if (locals.errors && errors.imageUser) { %>
                    <div class="form-text danger">
                        <%= errors.imageUser.msg %> 
                    </div>
                <% } %>


                <button class="black-button separation" type="submit" value="enviar">CREAR CUENTA</button>
            </form>
        </div>
    </main>

    <%- include('../partials/footer')%>

</body>
</html>